.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  font-size: 18px;

  a {
    line-height: 40px;
    color: blue;
  }
}

